<!-- <div class="w-full h-full relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full p-4 grid place-items-center"
  >
    <span class="loader"></span>
  </div>
</div> -->

<div class="w-full h-full relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full grid place-items-center"
  >
    <div class="grid place-items-center bg-white p-4 rounded-lg">
      <span class="loader"></span>
      <span class="loader-text tracking-widest">Loading</span>
    </div>
  </div>
</div>
