<ion-content class="w-screen h-screen relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col"
  >
    <div class="flex-none text-white py-7">
      <mat-toolbar class="flex flex-row items-center !bg-transparent w-full">
        <ion-buttons slot="start">
          <ion-back-button
            class="text-white"
            defaultHref="/tabs/tab-1"
          ></ion-back-button>
        </ion-buttons>
        <ion-text class="!text-white">{{
          "feesPage.labels.feesText" | translate
        }}</ion-text>
      </mat-toolbar>
    </div>
    <div
      mat-tab-group
      class="grow h-full bg-white rounded-tl-[3.5rem] rounded-tr-[3.5rem] p-8 flex flex-col"
    >
      <mat-tab-group
        #tabGroup
        dynamicHeight
        fitInkBarToContent
        disablePagination
        mat-stretch-tabs="true"
        mat-align-tabs="start"
        class="custom-tab-density"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              [class]="
                tabGroup.selectedIndex === 0
                  ? '!text-[var(--sys-primary)]'
                  : 'text-gray-500'
              "
              class="text-center mat-body-small"
            >
              {{ "feesPage.labels.invoiceText" | translate }}
            </span>
          </ng-template>
          <ng-template matTabContent>
            @if (!(studentInvoices$ | async) || (studentInvoices$ |
            async)?.length === 0) {
            <div class="w-full grid place-items-center">
              <span
                class="!py-4 w-full text-center mat-body-large !font-light"
                >{{ "feesPage.labels.noAvailableFees" | translate }}</span
              >
            </div>
            } @else {@for (pendingInvoices of studentInvoices$ | async; track
            pendingInvoices) {
            <app-invoice-receipt [invoice]="pendingInvoices">
            </app-invoice-receipt>
            }}
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              [class]="
                tabGroup.selectedIndex === 1
                  ? '!text-[var(--sys-primary)]'
                  : 'text-gray-500'
              "
              class="text-center mat-body-small"
            >
              {{ "feesPage.labels.pendingText" | translate }}
            </span>
          </ng-template>
          <ng-template matTabContent>
            @if (!(studentPendingInvoices$ | async) || (studentPendingInvoices$
            | async)?.length === 0) {
            <div class="w-full grid place-items-center">
              <span
                class="!py-4 w-full text-center mat-body-large !font-light"
                >{{ "feesPage.labels.noAvailableFees" | translate }}</span
              >
            </div>
            } @else {@for (pendingInvoices of studentPendingInvoices$ | async;
            track pendingInvoices) {
            <app-invoice-receipt
              [canDownload]="false"
              [invoice]="pendingInvoices"
            >
            </app-invoice-receipt>
            }}
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              [class]="
                tabGroup.selectedIndex === 2
                  ? '!text-[var(--sys-primary)]'
                  : 'text-gray-500'
              "
              class="text-center mat-body-small"
            >
              {{ "feesPage.labels.paidText" | translate }}
            </span>
          </ng-template>
          <ng-template matTabContent>
            @if (!(studentPaidInvoice$ | async) || (studentPaidInvoice$ |
            async)?.length === 0) {
            <div class="w-full grid place-items-center">
              <span
                class="!py-4 w-full text-center mat-body-large !font-light"
                >{{ "feesPage.labels.noAvailableFees" | translate }}</span
              >
            </div>
            } @else {@for (pendingInvoices of studentPaidInvoice$ | async; track
            pendingInvoices) {
            <app-invoice-receipt
              [canDownload]="true"
              [invoice]="pendingInvoices"
            >
            </app-invoice-receipt>
            }}
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <br /><br />
    </div>
  </div>
  <img
    class="w-full h-full z-0"
    src="assets/components/test-frame-1.png"
    alt=""
    srcset=""
  />
</ion-content>
