<ion-content class="w-screen h-screen relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col"
  >
    <div class="flex-none text-white py-10">
      <mat-toolbar
        class="flex flex-row items-center justify-between !bg-transparent w-full"
      >
        <div class="flex flex-col">
          <ion-title class="!text-white text-2xl">{{
            dashboardService.selectedStudent.SFullName
          }}</ion-title>
          <ion-title class="!text-gray-300 mat-title-small !font-sora">
            {{ dashboardService.selectedStudent.Class_Name }}
          </ion-title>
          <mat-chip matRipple class="w-fit ml-5 academic-year-chip">
            {{ dashboardService.selectedStudent.Acad_Year }}
          </mat-chip>
        </div>
      </mat-toolbar>
    </div>
    <span class="my-8"></span>
    <div
      class="grow relative h-full bg-white rounded-tl-[3.5rem] rounded-tr-[3.5rem] p-8 flex flex-col"
    >
      <div class="absolute -top-16 left-8 right-8">
        <mat-grid-list
          class="w-full h-full"
          cols="2"
          gutterSize="8px"
          rowHeight="200px"
        >
          <mat-grid-tile class="rounded-lg shadow-sm bg-[#3FB74B] relative">
            <div class="flex flex-col w-full h-full p-4 !space-y-4">
              <button class="w-20 h-20 bg-[#3E5444] rounded-full">
                <mat-icon
                  matPrefix
                  svgIcon="student-person-svgrepo-com"
                  class="text-[#3FB74B] !scale-x-150 !scale-y-150"
                ></mat-icon>
              </button>
              <ion-text class="mat-headline-medium !font-semibold">
                <ng-container
                  *ngIf="
                    overallAttendance$ && overallAttendance$
                      | async as overallAttendance
                  "
                >
                  @if (overallAttendance.length > 0) {
                  {{ overallAttendance[0].Present }}
                  } @else {
                  {{ "0%" }}
                  }
                </ng-container>
              </ion-text>
              <ion-text class="mat-body-large !font-semibold placeholer-text">
                {{ "dashboardPage.labels.attendanceText" | translate }}
              </ion-text>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="rounded-lg bg-[#E06689] relative">
            <div class="flex flex-col w-full h-full p-4 !space-y-4">
              <button
                class="w-20 h-20 bg-[var(--md-sys-color-on-primary)] rounded-full"
              >
                <mat-icon
                  matPrefix
                  svgIcon="fees-vector"
                  class="text-[#3FB74B] !scale-x-150 !scale-y-150"
                ></mat-icon>
              </button>
              <ion-text class="mat-title-medium !font-semibold">
                <ng-container
                  *ngIf="
                    pendingStudentInvoices$ && pendingStudentInvoices$
                      | async as pendingStudentInvoices
                  "
                >
                  @if (pendingStudentInvoices.length > 0) {
                  {{
                    pendingStudentInvoices
                      | accumulateArrayValue : "Pending_Amount"
                      | currency : "TZS"
                  }}
                  } @else {
                  {{ 0 | currency : "TZS" }}
                  }
                </ng-container>
              </ion-text>
              <ion-text class="mat-body-large !font-semibold placeholer-text">{{
                "dashboardPage.labels.feesText" | translate
              }}</ion-text>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-grid-list class="!mt-28" cols="2" gutterSize="8px" rowHeight="100px">
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/fees'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon
              matPrefix
              svgIcon="ic_holiday_purple"
              class="scale-150"
            ></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.feesText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/time-table'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="calendar-date-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.timeTableText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/results'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon
              matPrefix
              svgIcon="file-earmark-bar-graph-fill"
            ></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.resultsText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/attendance'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="calendar-check-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.attendanceText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/library'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="book-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.library" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/books'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="bookshelf"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "booksPage.labels.title" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          (click)="requestEventDetails($event)"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="bell-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.notificationsText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/change-password'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="lock-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.securityText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          [routerLink]="'/tabs/tab-1/get-support'"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="headset"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.getSupportText" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          (click)="navigateToHomeScreen()"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="people-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.switchAccount" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          (click)="logoutClicked($event)"
          matRipple
          class="module-grid-tile rounded-lg"
        >
          <div class="flex flex-col space-y-4 w-full h-fit p-6">
            <mat-icon matPrefix svgIcon="door-open-fill"></mat-icon>
            <ion-text class="mat-body-medium capitalize">{{
              "dashboardPage.labels.logout" | translate
            }}</ion-text>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <img
    class="w-full h-full z-0"
    src="assets/components/test-frame-1.png"
    alt=""
    srcset=""
  />
</ion-content>
