<div
  class="px-8 py-8 flex flex-col space-y-8 w-full h-full overflow-y-auto overflow-x-hidden"
>
  <div
    *ngIf="studentMarks$ | async as studentMarks"
    class="w-full grid place-items-center"
  >
    <ion-text class="mat-body-large text-center">
      @if (studentMarks | isBelowAverage) {
      {{ "resultsPage.labels.betterLuckText" | translate }}
      } @if (studentMarks | isAboveAverage) {
      {{ "resultsPage.labels.goodWorkText" | translate }}
      } @if (studentMarks | isGreatAverage) {
      {{ "resultsPage.labels.youAreExcellentText" | translate }}
      }
    </ion-text>
    <ion-text class="mat-headline-medium !font-semibold text-center">{{
      selectedStudent.SFullName
    }}</ion-text>
  </div>
  <mat-card
    #resultsList
    class="w-full !bg-white p-2 flex flex-col space-y-2"
    appearance="outlined"
  >
    <ng-container
      *ngFor="let detail of studentMarksDetails$ | async; index as ind"
    >
      <div class="w-full flex flex-row items-center justify-between py-1.5">
        <mat-card-title
          class="mat-body-large !font-semibold capitalize text-black"
        >
          {{ detail.Subject.toLocaleLowerCase() }}
        </mat-card-title>
        <div class="flex flex-row items-center">
          <ion-text class="w-fit px-4 bg-orange-200">
            {{ detail.Result }}
          </ion-text>
          <ion-text class="w-fit px-4 bg-blue-200 font-semibold">
            {{ detail.Grade }}
          </ion-text>
        </div>
      </div>
    </ng-container>
  </mat-card>
  <ion-button
    size="large"
    class="w-full text-white relative my-6"
    expand="block"
    type="button"
    (click)="downloadStudentMarks()"
    >{{ "defaults.labels.download" | translate }}
    <ion-icon slot="end" name="download-outline"></ion-icon
  ></ion-button>
</div>
