<!-- <ion-content class="w-screen h-screen">
  <div
    class="w-full h-full flex flex-col items-center justify-center space-y-2"
  >
    <div class="w-10/12 h-fit border grid place-items-center py-2">
      <div
        class="w-20 h-20 rounded-full bg-[var(--md-sys-color-secondary)] grid place-items-center"
      >
        <div
          class="w-14 h-14 rounded-full grid place-items-center bg-[var(--md-sys-color-on-primary-container)]"
        >
          <mat-icon
            class="!text-[var(--md-sys-color-on-primary)] !scale-x-150 !scale-y-150"
            svgIcon="key"
          ></mat-icon>
        </div>
      </div>
      <div class="flex flex-col">
        <ion-text class="!w-full text-center mat-title-large">
          {{ "forgotPasswordPage.labels.title" | translate }}
        </ion-text>
        <ion-text class="!w-full text-center mat-body-small">
          {{ "forgotPasswordPage.labels.subText" | translate }}
        </ion-text>
      </div>
      <form [formGroup]="formGroup" class="w-full px-6">
        <ion-text
          class="text-center mat-body-small !text-[var(--md-sys-color-outline)]"
        >
          {{ "forgotPasswordPage.forgotPasswordForm.labels.email" | translate }}
        </ion-text>
        <mat-form-field class="w-full">
          <input
            type="password"
            matInput
            [formControl]="Email_Address"
            [placeholder]="
              'forgotPasswordPage.forgotPasswordForm.placeholder.email'
                | translate
            "
          />
          <mat-error>
            @if (Email_Address | hasFormControlError: 'required') {
            {{ "defaults.cannotBeBlankText" | translate }}
            }
          </mat-error>
        </mat-form-field>
        <button
          (click)="submitForm($event)"
          type="submit"
          class="w-full my-4"
          mat-flat-button
        >
          {{ "forgotPasswordPage.actions.resetPassword" | translate }}
        </button>
        <a
          [routerLink]="'/login'"
          class="flex flex-row items-center w-44 group"
        >
          <mat-icon svgIcon="chevron-left"></mat-icon>
          <h6 class="mat-body-small pt-1.5 group-hover:underline">
            {{ "forgotPasswordPage.actions.backToLogin" | translate }}
          </h6>
        </a>
      </form>
    </div>
  </div>
</ion-content> -->

<ion-content class="w-screen h-screen relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col"
  >
    <div class="flex-none text-white py-7">
      <mat-toolbar class="flex flex-row items-center !bg-transparent w-full">
        <ion-buttons slot="start">
          <ion-back-button
            class="text-white"
            defaultHref="/login"
          ></ion-back-button>
        </ion-buttons>
        <ion-text class="!text-white">{{
          "forgotPasswordPage.labels.title" | translate
        }}</ion-text>
      </mat-toolbar>
    </div>
    <div
      class="grow h-full bg-white rounded-tl-[3.5rem] rounded-tr-[3.5rem] p-8 flex flex-col relative"
    >
      <div class="flex flex-col w-full">
        <div class="flex flex-col w-full">
          <ion-text class="!w-full text-left mat-headline-small">
            {{ "forgotPasswordPage.labels.title" | translate }}
          </ion-text>
          <ion-text class="!w-full text-left mat-title-small">
            {{ "forgotPasswordPage.labels.subText" | translate }}
          </ion-text>
        </div>
        <form [formGroup]="formGroup" class="w-full">
          <ion-text
            class="text-left mat-body-small !text-[var(--md-sys-color-outline)]"
          >
            {{
              "forgotPasswordPage.forgotPasswordForm.labels.email" | translate
            }}
          </ion-text>
          <mat-form-field class="w-full">
            <input
              type="password"
              matInput
              [formControl]="Email_Address"
              [placeholder]="
                'forgotPasswordPage.forgotPasswordForm.placeholder.email'
                  | translate
              "
            />
            <mat-error>
              @if (Email_Address | hasFormControlError: 'required') {
              {{ "defaults.cannotBeBlankText" | translate }}
              }
            </mat-error>
          </mat-form-field>
          <div class="flex flex-row items-center justify-end w-full">
            <button
              (click)="submitForm($event)"
              type="submit"
              class="w-fit my-4"
              mat-flat-button
            >
              {{ "forgotPasswordPage.actions.resetPassword" | translate }}
            </button>
          </div>
          <!-- <a
            [routerLink]="'/login'"
            class="flex flex-row items-center w-44 group"
          >
            <mat-icon svgIcon="chevron-left"></mat-icon>
            <h6 class="mat-body-small pt-1.5 group-hover:underline">
              {{ "forgotPasswordPage.actions.backToLogin" | translate }}
            </h6>
          </a> -->
        </form>
      </div>
    </div>
  </div>
  <img
    class="w-full h-full z-0"
    src="assets/components/test-frame-1.png"
    alt=""
    srcset=""
  />
</ion-content>
