/* :root,
:host {
  --sys-background: #fff8f6;
  --sys-on-background: #231a16;
  --sys-surface: #fff8f6;
  --sys-surface-dim: #e8d6d0;
  --sys-surface-bright: #fff8f6;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #fff1ec;
  --sys-surface-container: #fceae4;
  --sys-surface-container-high: #f6e4de;
  --sys-surface-container-highest: #f1dfd9;
  --sys-on-surface: #231a16;
  --sys-surface-variant: transparent;
  --sys-on-surface-variant: #53443e;
  --sys-inverse-surface: #382e2a;
  --sys-inverse-on-surface: #ffede7;
  --sys-outline: #85736c;
  --sys-outline-variant: #d8c2ba;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #8d4d2c;
  --sys-primary: #f26f21;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #ffdbcc;
  --sys-on-primary-container: #703717;
  --sys-inverse-primary: #ffb693;
  --sys-secondary: #015aa8;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #d5e3ff;
  --sys-on-secondary-container: #234776;
  --sys-tertiary: #8d4d2c;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffdbcc;
  --sys-on-tertiary-container: #703717;
  --sys-error: #c5000f;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #a5a5a5;
  --sys-neutral-variant: #85736c;
  --sys-primary-fixed: #ffdbcc;
  --sys-primary-fixed-dim: #ffb693;
  --sys-on-primary-fixed: #351000;
  --sys-on-primary-fixed-variant: #703717;
  --sys-secondary-fixed: #d5e3ff;
  --sys-secondary-fixed-dim: #a6c8ff;
  --sys-on-secondary-fixed: #001c3b;
  --sys-on-secondary-fixed-variant: #234776;
  --sys-tertiary-fixed: #ffdbcc;
  --sys-tertiary-fixed-dim: #ffb693;
  --sys-on-tertiary-fixed: #351000;
  --sys-on-tertiary-fixed-variant: #703717;
  --sys-inverse-secondary: #a6c8ff;
  --sys-inverse-tertiary: #ffb693;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
} */

:root,
:host {
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #e7e0e8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-container-lowest: #100d12;
  --md-sys-color-surface-container-low: #1d1a20;
  --md-sys-color-surface-container: #211e24;
  --md-sys-color-surface-container-high: #2c292f;
  --md-sys-color-surface-container-highest: #37333a;
  --md-sys-color-on-surface: #e7e0e8;
  --md-sys-color-surface-variant: #4a454e;
  --md-sys-color-on-surface-variant: #ccc4cf;
  --md-sys-color-inverse-surface: #e7e0e8;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #958e99;
  --md-sys-color-outline-variant: #4a454e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d8bafa;
  --md-sys-color-primary: #d8bafa;
  --md-sys-color-on-primary: #3c245a;
  --md-sys-color-primary-container: #543b72;
  --md-sys-color-on-primary-container: #eedbff;
  --md-sys-color-inverse-primary: #6c538b;
  --md-sys-color-secondary: #d8bafa;
  --md-sys-color-on-secondary: #3d245a;
  --md-sys-color-secondary-container: #543b72;
  --md-sys-color-on-secondary-container: #eedbff;
  --md-sys-color-tertiary: #ffb2be;
  --md-sys-color-on-tertiary: #561d2a;
  --md-sys-color-tertiary-container: #713340;
  --md-sys-color-on-tertiary-container: #ffd9de;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #561e19;
  --md-sys-color-error-container: #73342d;
  --md-sys-color-on-error-container: #ffdad5;
  --md-sys-color-neutral: #7a757c;
  --md-sys-color-neutral-variant: #7b757f;
  --md-sys-color-primary-fixed: #eedbff;
  --md-sys-color-primary-fixed-dim: #d8bafa;
  --md-sys-color-on-primary-fixed: #260d43;
  --md-sys-color-on-primary-fixed-variant: #543b72;
  --md-sys-color-secondary-fixed: #eedbff;
  --md-sys-color-secondary-fixed-dim: #d8bafa;
  --md-sys-color-on-secondary-fixed: #270d43;
  --md-sys-color-on-secondary-fixed-variant: #543b72;
  --md-sys-color-tertiary-fixed: #ffd9de;
  --md-sys-color-tertiary-fixed-dim: #ffb2be;
  --md-sys-color-on-tertiary-fixed: #3a0716;
  --md-sys-color-on-tertiary-fixed-variant: #713340;
  --md-sys-color-inverse-secondary: #6d538b;
  --md-sys-color-inverse-tertiary: #8e4957;
  --md-sys-color-inverse-error: #904a43;
  --md-sys-color-error-fixed: #ffdad5;
  --md-sys-color-error-fixed-dim: #ffb4ab;
  --md-sys-color-on-error-fixed: #3b0907;
  --md-sys-color-on-error-fixed-variant: #73342d;
}
