:root,
:host {
  --sys-background: #fff8f6;
  --sys-on-background: #231a16;
  --sys-surface: #fff8f6;
  --sys-surface-dim: #e8d6d0;
  --sys-surface-bright: #fff8f6;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #fff1ec;
  --sys-surface-container: #fceae4;
  --sys-surface-container-high: #f6e4de;
  --sys-surface-container-highest: #f1dfd9;
  --sys-on-surface: #231a16;
  --sys-surface-variant: transparent;
  --sys-on-surface-variant: #53443e;
  --sys-inverse-surface: #382e2a;
  --sys-inverse-on-surface: #ffede7;
  --sys-outline: #85736c;
  --sys-outline-variant: #d8c2ba;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #8d4d2c;
  --sys-primary: #f26f21;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #ffdbcc;
  --sys-on-primary-container: #703717;
  --sys-inverse-primary: #ffb693;
  --sys-secondary: #015aa8;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #d5e3ff;
  --sys-on-secondary-container: #234776;
  --sys-tertiary: #8d4d2c;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffdbcc;
  --sys-on-tertiary-container: #703717;
  --sys-error: #c5000f;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #a5a5a5;
  --sys-neutral-variant: #85736c;
  --sys-primary-fixed: #ffdbcc;
  --sys-primary-fixed-dim: #ffb693;
  --sys-on-primary-fixed: #351000;
  --sys-on-primary-fixed-variant: #703717;
  --sys-secondary-fixed: #d5e3ff;
  --sys-secondary-fixed-dim: #a6c8ff;
  --sys-on-secondary-fixed: #001c3b;
  --sys-on-secondary-fixed-variant: #234776;
  --sys-tertiary-fixed: #ffdbcc;
  --sys-tertiary-fixed-dim: #ffb693;
  --sys-on-tertiary-fixed: #351000;
  --sys-on-tertiary-fixed-variant: #703717;
  --sys-inverse-secondary: #a6c8ff;
  --sys-inverse-tertiary: #ffb693;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}

/* :root,
:host {
  --md-sys-color-background: #111318;
  --md-sys-color-on-background: #e1e2e9;
  --md-sys-color-surface: #111318;
  --md-sys-color-surface-dim: #111318;
  --md-sys-color-surface-bright: #37393e;
  --md-sys-color-surface-container-lowest: #0c0e13;
  --md-sys-color-surface-container-low: #191c20;
  --md-sys-color-surface-container: #1d2024;
  --md-sys-color-surface-container-high: #282a2f;
  --md-sys-color-surface-container-highest: #32353a;
  --md-sys-color-on-surface: #e1e2e9;
  --md-sys-color-surface-variant: #43474e;
  --md-sys-color-on-surface-variant: #c4c6cf;
  --md-sys-color-inverse-surface: #e1e2e9;
  --md-sys-color-inverse-on-surface: #2e3035;
  --md-sys-color-outline: #8e9199;
  --md-sys-color-outline-variant: #43474e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a6c8ff;
  --md-sys-color-primary: #a6c8ff;
  --md-sys-color-on-primary: #02315f;
  --md-sys-color-primary-container: #234776;
  --md-sys-color-on-primary-container: #d5e3ff;
  --md-sys-color-inverse-primary: #3d5f90;
  --md-sys-color-secondary: #ffb693;
  --md-sys-color-on-secondary: #542104;
  --md-sys-color-secondary-container: #703717;
  --md-sys-color-on-secondary-container: #ffdbcc;
  --md-sys-color-tertiary: #a6c8ff;
  --md-sys-color-on-tertiary: #02315f;
  --md-sys-color-tertiary-container: #234776;
  --md-sys-color-on-tertiary-container: #d5e3ff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #561e19;
  --md-sys-color-error-container: #73342d;
  --md-sys-color-on-error-container: #ffdad5;
  --md-sys-color-neutral: #75777d;
  --md-sys-color-neutral-variant: #74777f;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-primary-fixed-dim: #a6c8ff;
  --md-sys-color-on-primary-fixed: #001c3b;
  --md-sys-color-on-primary-fixed-variant: #234776;
  --md-sys-color-secondary-fixed: #ffdbcc;
  --md-sys-color-secondary-fixed-dim: #ffb693;
  --md-sys-color-on-secondary-fixed: #351000;
  --md-sys-color-on-secondary-fixed-variant: #703717;
  --md-sys-color-tertiary-fixed: #d5e3ff;
  --md-sys-color-tertiary-fixed-dim: #a6c8ff;
  --md-sys-color-on-tertiary-fixed: #001c3b;
  --md-sys-color-on-tertiary-fixed-variant: #234776;
  --md-sys-color-inverse-secondary: #8d4d2c;
  --md-sys-color-inverse-tertiary: #3d5f90;
  --md-sys-color-inverse-error: #904a43;
  --md-sys-color-error-fixed: #ffdad5;
  --md-sys-color-error-fixed-dim: #ffb4ab;
  --md-sys-color-on-error-fixed: #3b0907;
  --md-sys-color-on-error-fixed-variant: #73342d;
} */
