<ion-content class="w-screen h-screen relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col"
  >
    <div class="flex-none text-white py-8">
      <mat-toolbar
        class="flex flex-row items-center justify-between !bg-transparent w-full"
      >
        <div class="flex flex-row items-center">
          <ion-text class="!text-white mat-headline-large">
            {{ "homePage.labels.welcomeBackText" | translate }}
          </ion-text>
        </div>
        <a
          [routerLink]="'/package'"
          mat-icon-button
          class="!bg-orange-500"
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon class="text-white" matPrefix svgIcon="box-fill"></mat-icon>
        </a>
      </mat-toolbar>
    </div>
    <div
      class="grow h-full bg-white rounded-tl-[3.5rem] rounded-tr-[3.5rem] p-8 flex flex-col"
    >
      <div class="flex flex-row items-center justify-between">
        <ion-text class="mat-body-large !font-semibold text-left">
          {{'homePage.labels.students' | translate}}
        </ion-text>
      </div>
      <div>
        <mat-list class="flex flex-col space-y-2 !mb-4">
          @for (student of studentDetails().Students; track student) {
          <mat-card class="!bg-white relative" appearance="outlined">
            <mat-card-header
              matRipple
              (click)="openNavigationsPages($event,student)"
              class="relative flex flex-row items-center justify-between"
            >
              <div mat-card-avatar class="example-header-image">
                <img
                  src="assets/components/graduation-hat.png"
                  alt=""
                  srcset=""
                />
              </div>
              <div class="flex flex-col w-full mb-4">
                <mat-card-title class="mat-body-large">
                  <ion-text
                    class="mat-body-large !text-left line-clamp-1 !font-bold"
                  >
                    {{student.SFullName}}
                  </ion-text>
                </mat-card-title>
                <mat-card-subtitle>
                  <ion-text class="mat-body-small !text-left line-clamp-1">
                    {{student.Facility_Name}}
                  </ion-text>
                </mat-card-subtitle>
              </div>
            </mat-card-header>
            <button
              (click)="removeStudent($event,student)"
              class="!absolute !right-2 !top-1/2 !-translate-y-1/2"
              mat-icon-button
            >
              <mat-icon class="text-red-600" svgIcon="trash-fill"> </mat-icon>
            </button>
          </mat-card>
          }
        </mat-list>
      </div>
    </div>
  </div>
  <img
    class="w-full h-full z-0"
    src="assets/components/test-frame-1.png"
    alt=""
    srcset=""
  />
</ion-content>
